[Unit]
Description=YunoHost boot message
After=network-online.target

[Service]
ExecStart=/usr/bin/screenfetch

[Install]
WantedBy=network-online.target
