[Unit]
Description=YunoHost boot message
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/boot_prompt.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
